<app-header class="header" />
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav-sidenav" mode="side" [opened]="sidenavOpened">
    <ul>
      <li routerLinkActive="active" [routerLink]="'home'"><mat-icon>home</mat-icon> Home</li>
      <li routerLinkActive="active" [routerLink]="'wanted'"><mat-icon>star</mat-icon> Wanted</li>
      <li routerLinkActive="active" [routerLink]="'settings'"><mat-icon>settings</mat-icon> Settings</li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
