.sidenav-container {
  position: absolute;
  top: var(--mat-toolbar-standard-height);
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}
.header {
  z-index: 999;
}
.sidenav-sidenav {
  padding: 1rem;
  width: 10rem;
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: fit-content;
    margin: 0 auto;
    margin-top: 2rem;
    li {
      margin-bottom: 2rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      mat-icon {
        margin-right: 0.5rem;
      }
    }
  }
}

.sidenav-content {
  padding: 1rem;
}
.mat-sidenav-content {
  transition: none !important;
}
.mat-sidenav {
  transition: none !important;
}
