<div class="wanted-container">
  <div class="wanted-left">
    <mat-card class="welcome">
      <mat-card-content>
        <h1>WANTED</h1>
        The official FBI Wanted list is maintained on the FBI <br />
        website. This information may be copied and distributed, however, any
        <br />
        unauthorized alteration of any portion of the FBI's Ten Most Wanted
        Fugitives <br />
        posters is a violation of federal law (18 U.S.C., Section 709). Persons
        who
        <br />
        make or reproduce these alterations are subject to prosecution and, if
        <br />
        convicted, shall be fined or imprisoned for not more than one year, or
        both.
      </mat-card-content>
    </mat-card>
    <div class="pagination pagination-top">
      <button mat-raised-button color="primary" (click)="prevPage()">
        Prev
      </button>
      <a class="page-number" routerLinkActive="active" (click)="setPage(i)" *ngFor="let i of paginator" [routerLink]="['/wanted', i]">
        {{i}}
      </a>
      <button mat-raised-button color="primary" (click)="nextPage()">
        Next
      </button>
    </div>
    <div *ngIf="!fetching; else loading" class="wanted-grid">
      <div class="wanted-grid-tile" *ngFor="let tr of data; index as i">
        <mat-card (click)="selectPerson(i)">
          <mat-card-title>
            <div class="header-container">
              <img
                appImageFallback
                class="wanted-photo"
                src="{{ tr.images[0].original }}"
              />
              <h2>{{ tr.title }}</h2>
            </div>
            <div class="info">
              <p>Sex: {{ tr.sex ?? "-" }}</p>
              <p>Hair: {{ tr.hair ?? "-" }}</p>
              <p>Race: {{ tr.race ?? "-" }}</p>
              <p>Eyes: {{ tr.eyes ?? "-" }}</p>
            </div>
          </mat-card-title>
          <mat-card-content> </mat-card-content>
        </mat-card>
      </div>
    </div>
    <ng-template #loading>
      <mat-spinner></mat-spinner>
    </ng-template>
    <div *ngIf="data?.length && !fetching" class="pagination">
      <button mat-raised-button color="primary" (click)="prevPage()">
        Prev
      </button>
      {{ page }}
      <button mat-raised-button color="primary" (click)="nextPage()">
        Next
      </button>
    </div>
  </div>
  <div class="wanted-right-menu">
    <ul *ngIf="data?.length">
      <li>
        <img
          class="wanted-photo"
          src="{{ selectedPerson.images[0].original }}"
          appImageFallback
        />
        <h2 class="title">{{ selectedPerson.title }}</h2>
      </li>
      <li>Sex: {{ selectedPerson.sex ?? "-" }}</li>
      <li>Hair: {{ selectedPerson.hair ?? "-" }}</li>
      <li>Race: {{ selectedPerson.race ?? "-" }}</li>
      <li>Eyes: {{ selectedPerson.eyes ?? "-" }}</li>
      <li>Height max: {{ selectedPerson.heightMax ?? "-" }}</li>
      <li>Publication: {{ selectedPerson.publication ?? "-" | date }}</li>
      <li>
        Caution:
        <div [innerHTML]="selectedPerson.caution"></div>
      </li>
      <li>Reward: {{ selectedPerson.reward_text ?? "-" }}</li>
      <a [href]="selectedPerson.url" target="_blank">Link</a>
    </ul>
  </div>
</div>
