<p>Thank You for registering!</p>
<div class="formGroup" *ngIf="authService.userData as user">
  <p class="text-center">
    We have sent a confirmation email to <strong>{{ user.email }}</strong
    >.
  </p>
  <p class="text-center">
    Please check your email and click on the link to verfiy your email address.
  </p>
</div>
<div class="formGroup">
  <button
    type="button"
    class="btn btnPrimary signup-btn"
    (click)="sendVerificationMail()"
    mat-raised-button
    color="primary"
  >
    Resend Verification Email
  </button>
</div>

<div class="redirectToLogin">
  <button
    type="button"
    class="btn btnPrimary"
    mat-button
    [routerLink]="['/signin']"
    
  >
  Sign in
  </button>
</div>
