<app-header [hideUserData]="true" />
<div class="public-container">
  <mat-card>
    <mat-card-header>
      <h1>FEDERAL BUREAU OF INVESTIGATION</h1>
    </mat-card-header>
    <mat-card-content>
      <p>
        We protect the American people and uphold the U.S. Constitution. You can
        <br />
        report suspicious activities and crime by contacting us 24/7 at
        tips.fbi.gov.
      </p>
      <button routerLink="/auth/sign-in" mat-raised-button color="primary">
        Sign in
      </button>
      <button routerLink="/auth/sign-up" class="signup-btn" mat-button>
        Sign up
      </button>
    </mat-card-content>
  </mat-card>
</div>
