<div class="wanted-container">
  <div class="wanted-left">
    <mat-card class="welcome">
      <mat-card-content>
        <h1>WANTED</h1>
        The official FBI Wanted list is maintained on the FBI website. This information may be copied and distributed,
        however, any unauthorized alteration of any portion of the FBI's Ten Most Wanted Fugitives posters is a
        violation of federal law.
      </mat-card-content>
    </mat-card>
    <nav mat-tab-nav-bar [tabPanel]="tabPanel">
      @for(link of navLinks; track $index) {
      <a mat-tab-link [routerLink]="link.link" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
        {{ link.label }}
      </a>
      }
    </nav>
    <mat-tab-nav-panel #tabPanel>
      <router-outlet />
    </mat-tab-nav-panel>
  </div>
</div>
