.wanted-left {
  position: relative;
}

.welcome {
  margin: 1rem;
}
.wanted-container {
  position: relative;
  padding-right: 15.6rem;
  @media screen and (max-width: 768px){
    padding-right: 0; 
  }
}
