:host {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    // width: 40vw;
}
.mat-mdc-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.form-input {
    width: 100%;
}
.form-actions {
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.form-guest {
    margin-right: 1rem;
}