<form class="form" [formGroup]="customForm">
  <mat-button-toggle-group class="sex-toggle" formControlName="sex" name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="Male">
      <i class="fa-solid fa-mars"></i>
    </mat-button-toggle>
    <mat-button-toggle value="Female">
      <i class="fa-solid fa-venus"></i>
    </mat-button-toggle>
  </mat-button-toggle-group>
  @for (field of formFields; track $index) {
  <mat-form-field>
    <mat-label>{{ field.placeholder }}</mat-label>
    <input matInput [placeholder]="field.placeholder" [formControlName]="field.formControlName" />
  </mat-form-field>
  }
  <div>
    <button mat-button matStepperNext>Next</button>
  </div>
</form>
