.spacer {
  flex: 1 1 auto;
}

.user-firstname {
  margin-right: 1rem;
  font-size: 0.8rem;
}

:host {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}

.logo {
  width: 30px;
  margin-right: 0.5rem;
}

.mat-toolbar {
  background: #fff;
  border-bottom: 1px solid var(--mat-sidenav-container-divider-color);
}

.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  @media screen and (max-width: 768px) {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
.profile-photo {
  background: #cecece;
  width: 2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.user-data {
  display: flex;
  align-items: center;
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.burger {
  margin-right: 1rem;
  @media screen and (min-width: 769px) {
    display: none;
  }
}
