<p>Thank You for registering!</p>
<div *ngIf="authService.userData as user">
  <p>
    We have sent a confirmation email to <strong>{{ user.email }}</strong
    >.
  </p>
  <p>
    Please check your email and click on the link to verfiy your email address.
  </p>
</div>
<div>
  <button
    type="button"
    class="signup-btn"
    (click)="sendVerificationMail()"
    mat-raised-button
    color="primary"
  >
    Resend Verification Email
  </button>
</div>
<div class="redirectToLogin">
  <button type="button" mat-button [routerLink]="['/auth/sign-in']">Sign in</button>
</div>
