<div class="tab-container">
  @if(!wantedService.fetchingItem.value) {
  <div class="wanted-grid">
    @for(tr of data; track $index) {
    <div class="wanted-grid-tile">
      <app-criminal
        [tr]="tr"
        [openToDelete]="true"
        [openToEdit]="true"
        [i]="$index"
        (editClick)="editHandle(tr)"
        (personClick)="selectPerson($index)"
        (deleteClick)="deletePerson($event)" />
    </div>
    } @empty {
    <div class="no-data-block">
      <img src="../../../../../assets/nodata.png" />
      <p>No edited data</p>
    </div>
    }
  </div>
  } @else {
  <div class="wanted-grid">
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
  </div>
  }
</div>

<app-details
  [selectedPerson]="wantedService.selectedPerson"
  [fetching]="wantedService.fetchingItem.value"
  [data]="data" />
