.content {
  padding: 1rem;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
  margin-right: 1rem;
}

.sex-toggle {
  margin-right: 1rem;
}
.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.custom-fields-adding {
  display: flex;
  align-items: center;
}

.custom-field {
  display: flex;
  align-items: center;
}
.custom-field-editing {
  display: flex;
  align-items: center;
}
.edit-custom-field-btn {
  margin-right: 1rem;
}
