<mat-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="customForm">
    <ng-template matStepLabel>Main</ng-template>
    <app-edit-first-step mat-dialog-content [customForm]="customForm" />
    <div mat-dialog-actions align="end">
      <button mat-raised-button color="primary" matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step [optional]="secondStepOptional" [stepControl]="addFieldForm" label="Add">
    <app-edit-second-step
      mat-dialog-content
      [addFieldForm]="addFieldForm"
      [addFieldDisabled]="addFieldDisabled"
      [$customFields]="$customFields"
      (addField)="addField()"
      (applyEdit)="applyEdit($event)"
      (toggleFieldEdit)="toggleFieldEdit($event)"
      (deleteField)="deleteField($event)" />

    <div mat-dialog-actions align="end">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-raised-button matStepperNext color="primary">Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <app-edit-third-step mat-dialog-content />
    <div mat-dialog-actions align="end">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-raised-button color="primary" (click)="send()">Send</button>
    </div>
  </mat-step>
</mat-stepper>
