.content {
  padding: 1rem;
}


.sex-toggle {
  margin-right: 1rem;
}
.mat-horizontal-content-container {
  padding: 0;
} 
:host ::ng-deep .mat-horizontal-content-container {
  padding:0 !important;
}