<div class="content">
  <mat-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="customForm">
      <form class="form" [formGroup]="customForm">
        <ng-template matStepLabel>Main info</ng-template>
        <mat-button-toggle-group class="sex-toggle" formControlName="sex" name="fontStyle" aria-label="Font Style">
          <mat-button-toggle value="Male">
            <i class="fa-solid fa-mars"></i>
          </mat-button-toggle>
          <mat-button-toggle value="Female">
            <i class="fa-solid fa-venus"></i>
          </mat-button-toggle>
        </mat-button-toggle-group>
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput placeholder="Title" formControlName="title" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Hair</mat-label>
          <input matInput placeholder="Hair" formControlName="hair" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Race</mat-label>
          <input matInput placeholder="Race" formControlName="race" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Eyes</mat-label>
          <input matInput placeholder="Eyes" formControlName="eyes" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Reward</mat-label>
          <input matInput placeholder="Reward" formControlName="reward_text" />
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [optional]="!addFieldForm.controls.fields.length" [stepControl]="addFieldForm" label="Add custom fields">
      <form [formGroup]="addFieldForm" class="custom-fields-adding">
        <mat-form-field>
          <mat-label>field type</mat-label>
          <mat-select formControlName="type">
            <mat-option value="text">text</mat-option>
            <mat-option value="date">date</mat-option>
            <mat-option value="number">number</mat-option>
            <mat-option value="checkbox">checkbox</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Field name</mat-label>
          <input matInput type="text" formControlName="name" placeholder="Address" />
        </mat-form-field>
        <button (click)="addField()" mat-raised-button color="primary">
          Add
          <mat-icon>add</mat-icon>
        </button>
      </form>
      <form [formGroup]="addFieldForm">
        <div formArrayName="fields">
          @for(input of addFieldForm.controls.fields.controls; track $index) {
          <div class="custom-field">
            @if(customFields[$index].isEditing) {
            <form class="custom-field-editing">
              <mat-form-field>
                <mat-label>field type</mat-label>
                <mat-select #edType>
                  <mat-option value="text">text</mat-option>
                  <mat-option value="date">date</mat-option>
                  <mat-option value="number">number</mat-option>
                  <mat-option value="checkbox">checkbox</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Field name</mat-label>
                <input #edName matInput required="true" type="text" placeholder="Address" />
              </mat-form-field>
              <button
                (click)="applyEditById($index, edName, edType)"
                mat-raised-button
                class="edit-custom-field-btn"
                color="primary">
                Apply
                <mat-icon>done</mat-icon>
              </button>
              <button (click)="toggleFieldEditById($index)" mat-raised-button color="primary">
                Cancel
                <mat-icon>block</mat-icon>
              </button>
            </form>

            } @else { @if(customFields[$index].type !== 'checkbox') {
            <mat-form-field>
              <mat-label>{{ customFields[$index].name }}</mat-label>
              <input matInput [type]="customFields[$index].type!" [formControlName]="$index" placeholder="" />
            </mat-form-field>
            } @else {
            <mat-checkbox matInput [formControlName]="$index" placeholder="">
              {{ customFields[$index].name }}
            </mat-checkbox>
            }
            <button
              (click)="toggleFieldEditById($index)"
              mat-raised-button
              class="edit-custom-field-btn"
              color="primary">
              <mat-icon>edit</mat-icon>
              edit
            </button>
            <button (click)="deleteCustomFieldById($index)" mat-raised-button color="primary">
              <mat-icon>delete</mat-icon>
              delete
            </button>
            }
          </div>
          }
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>Now you can send your changes</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button (click)="sendRequest()">Send request</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
