<mat-card>
  <mat-card-content>
    <img src="../../../../assets/home.webp" class="home_logo" />
    <h1>Home</h1>
    Welcome to the Angular Wanted App, a demo project that showcases how to use Angular, Angular Material, and Firebase
    to create a web app that displays information about the FBI’s most wanted fugitives. 🚨
    <br />
    <br />
    With this app, you can:
    <br />
    <ul>
      <li>Browse the list of fugitives and see their photos, descriptions, and charges 👀</li>
      <li>View the details of each fugitive and share them with others 📲</li>
      <li>Learn more about the FBI Wanted program 💡</li>
    </ul>
    <br />
    This app is powered by the following technologies:
    <br />
    <ul>
      <li>Angular, a framework for building web applications with TypeScript</li>
      <li>Angular Material, a UI component library that implements the Material Design specifications</li>
      <li>
        Firebase, a platform that provides backend services, such as hosting, authentication, database, and analytics
      </li>
      <li>
        RxJS, a library for reactive programming using Observables, which are collections of future values or events
        that can be composed and manipulated with operators
      </li>
      <li>

    <a href="https://fbi.gov/wanted/api" target="_blank">FBI Wanted api</a>
      </li>
    </ul>
    <br />
    To learn more about how this app was built, you can check out the
    <a href="https://github.com/farnsworth3010/wanted-angular" target="_blank">source code</a>
    on GitHub. This app is for demonstration purposes only and does not represent an official endorsement by the FBI.
    <br />
    <button class="mobile-wanted-link" mat-raised-button color="primary" routerLink="/content/crimes/wanted">
      Open Wanted page
    </button>
  </mat-card-content>
</mat-card>
