<div class="tab-container">
  <div class="pagination pagination-top">
    <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="wantedService.length"
      [pageSize]="pageSize" [showFirstLastButtons]="true" [hidePageSize]="false"
      [pageIndex]="this.wantedService.page - 1" aria-label="Select page" [class.mat-elevation-z1]="true" />
  </div>
  <mat-card class="filters">
    <form [formGroup]="filtersForm">
      <mat-form-field class="form-input">
        <mat-label>Sex</mat-label>
        <mat-select formControlName="sex">
          <mat-option value="">-</mat-option>
          <mat-option value="male">male</mat-option>
          <mat-option value="female">female</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-input">
        <mat-label>Race</mat-label>
        <mat-select formControlName="race">
          <mat-option value="">-</mat-option>
          <mat-option value="white">white</mat-option>
          <mat-option value="black">black</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="age-range">
        <p>Age range:</p>
        <mat-slider min="0" max="150" step="1" showTickMarks discrete>
          <input formControlName="age_min" value="0" matSliderStartThumb />
          <input formControlName="age_max" value="150" matSliderEndThumb />
        </mat-slider>
      </div>
    </form>
  </mat-card>

  <ng-container *ngIf="!wantedService.fetching; else loading">
    <div *ngIf="wantedService.data?.length else noData" class="wanted-grid">
      <div class="wanted-grid-tile" *ngFor="let tr of wantedService.data; index as i">
        <app-criminal [tr]="tr" [openToEdit]="!editedList.includes(tr['@id'])" (viewInEditsClick)="viewInEdits($event)"
          [edited]="editedList.includes(tr['@id'])" [i]="i" (personClick)="selectPerson(i)"
          (editClick)="editHandle($event)" />
      </div>
    </div>
  </ng-container>
  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
  <ng-template #noData> no data for your search query </ng-template>

  <div *ngIf="wantedService.data?.length && !wantedService.fetching" class="pagination">
    <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="wantedService.length"
      [pageSize]="pageSize" [showFirstLastButtons]="true" [hidePageSize]="false"
      [pageIndex]="this.wantedService.page - 1" aria-label="Select page" [class.mat-elevation-z1]="true" />
  </div>
</div>
<app-details [selectedPerson]="wantedService.selectedPerson" [fetching]="wantedService.fetching"
  [data]="wantedService.data" />