mat-grid-list {
  gap: 1rem;
  mat-card {
    width: 100%;
    height: 100%;
    padding: 1rem;
  }
}
.info {
  font-size: 0.8em;
  opacity: 0.8;
}
.wanted-photo {
  width: 10vw;
  height: 10vw;
  object-fit: cover;
  margin-right: 1rem;
  border-radius: 0.25rem;
  background-color: #cecece;
}
.page-number {
  text-decoration: none;
  color: #000;
  &.active {
    opacity: 0.5;
  }
}
.wanted-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding-bottom: 1rem;
}
.wanted-grid .wanted-grid-tile mat-card {
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .wanted-grid {
    grid-template-columns: 1fr;
  }
}
.pagination-top {
  margin-bottom: 1rem;
}
.pagination {
  mat-paginator {
    border-radius: 0.25rem;
  }
}
mat-spinner {
  display: block;
  margin: 0 auto;
  margin-top: 6rem;
}

mat-tab-group {
  min-height: 100%;
}
.tab-content {
  padding: 1rem;
}
.edit-button {
  position: absolute; 
  right: 1rem;
  bottom: 1rem;
}
.tab-container {
    padding: 1rem;
}