<mat-card>
  <mat-card-header>
    <h2>Reset password</h2>
  </mat-card-header>
  <mat-card-content>
    <p>Please enter your email address to request a password reset.</p>
    <form [formGroup]="passResetForm">
      <mat-form-field class="form-input">
        <mat-label>E-Mail</mat-label>
        <input formControlName="email" class="form-input" type="email" matInput />
      </mat-form-field>
      <mat-card-actions class="form-actions">
        <button class="form-sign-in" mat-button routerLink="/auth/sign-in">back</button>
        <button (click)="resetPassword()" color="primary" class="form-sign-in" type="submit" mat-raised-button>
          Send
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
