<mat-card>
  <mat-card-header>
    <h2>Sign Up</h2>
  </mat-card-header>
  <mat-card-content>
    <form autocomplete="off" (ngSubmit)="onSubmit()">
      <mat-form-field class="form-input">
        <mat-label>E-Mail</mat-label>
        <input
        autocomplete="off"
          [formControl]="email"
          class="form-input"
          required="true"
          matInput
        />
      </mat-form-field>
      <mat-form-field class="form-input">
        <mat-label>password</mat-label>
        <input
        autocomplete="off"
          [formControl]="password"
          required="true"
          [type]="hide ? 'password' : 'text'"
          matInput
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="form-input">
        <mat-label>repeat password</mat-label>
        <input
          [formControl]="password1"
          required="true"
          [type]="hide ? 'password' : 'text'"
          matInput
          autocomplete="off"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <mat-card-actions class="form-actions">
        <button type="button" mat-button (click)="google()">Sign up with Google</button>
        <button
          class="form-guest"
          type="button"
          mat-button
          [routerLink]="['/signin']"
        >
          Sign in
        </button>
        <button
          color="primary"
          class="form-sign-in"
          type="submit"
          mat-raised-button
        >
          Sign up
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
