<mat-toolbar>
  <figure [routerLink]="['/home']" class="logo-container">
    <img class="logo" src="../../../assets/logo.png" />FBI
  </figure>
  <span class="spacer"></span>
  @if(router.url !== "/signin" && router.url !== '/' && router.url !== '/signup' && router.url !== '/verify-email-address') {
  <span class="user-firstname">{{ userData?.email ?? ''}}</span>
  <button (click)="logOut()" mat-raised-button color="primary">
    Выйти
    <mat-icon>logout</mat-icon>
  </button>
  }
</mat-toolbar>
