<div class="tab-container">
  <div class="pagination pagination-top">
    <mat-paginator
      #paginator
      class="demo-paginator"
      (page)="handlePageEvent($event)"
      [length]="wantedService.length"
      [pageSize]="pageSize"
      [showFirstLastButtons]="true"
      [pageIndex]="this.wantedService.pageItem.value - 1"
      aria-label="Select page"
      [hidePageSize]="true"
      [class.mat-elevation-z1]="true" />
  </div>
  <mat-card class="filters">
    <form [formGroup]="filtersForm">
      <mat-form-field class="form-input">
        <mat-label>Sex</mat-label>
        <mat-select formControlName="sex">
          <mat-option value="">any</mat-option>
          <mat-option value="male">male</mat-option>
          <mat-option value="female">female</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-input">
        <mat-label>Race</mat-label>
        <mat-select formControlName="race">
          <mat-option value="">any</mat-option>
          <mat-option value="white">white</mat-option>
          <mat-option value="black">black</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card>
  @if (!wantedService.fetchingItem.value) {
  <div class="wanted-grid" #grid>
    @for(data of wantedService.data; track $index) {
    <div class="wanted-grid-tile">
      <app-criminal
        [openToEdit]="!editedIds.includes(data.uid)"
        (viewInEditsClick)="viewInEdits($event)"
        [edited]="editedIds.includes(data.uid)"
        (personClick)="selectPerson($index)"
        (editClick)="editHandle($event)" />
    </div>
    } @empty {
    <div class="no-data-block">
      <img alt="no data" src="../../../../../assets/nodata.png" />
      <p>No data for your search query</p>
    </div>
    }
  </div>
  } @else {
  <div class="wanted-grid" #mockgrid>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
    <div class="wanted-grid-tile">
      <app-criminal-skeleton />
    </div>
  </div>
  } @if(wantedService.data?.length && !wantedService.fetchingItem.value) {
  <div class="pagination pagination-bottom">
    <mat-paginator
      #paginator
      class="demo-paginator"
      (page)="handlePageEvent($event)"
      [length]="wantedService.length"
      [pageSize]="pageSize"
      [showFirstLastButtons]="true"
      [hidePageSize]="true"
      [pageIndex]="this.wantedService.pageItem.value - 1"
      aria-label="Select page"
      [class.mat-elevation-z1]="true" />
  </div>
  }
</div>
<app-details
  [selectedPerson]="wantedService.selectedPerson"
  [fetching]="wantedService.fetchingItem.value"
  [data]="wantedService.data" />
