<mat-card (click)="selectPerson(i)">
  <mat-card-title>
    <div class="header-container">
      <img appImageFallback class="wanted-photo" [src]="tr.images![0].original" />
      <h2>{{ tr.title }}</h2>
    </div>
  </mat-card-title>
  <mat-card-content>
    <div class="info">
      <p>Sex: {{ tr.sex | defaultFieldValue }}</p>
      <p>Hair: {{ tr.hair | defaultFieldValue }}</p>
      <p>Race: {{ tr.race | defaultFieldValue }}</p>
      <p>Eyes: {{ tr.eyes | defaultFieldValue }}</p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button class="details-mobile" (click)="selectPersonFromBtn($event, i)" mat-button color="primary">
      Details
      <mat-icon>info</mat-icon>
    </button>
    @if(openToEdit){ @if(tr.editing) {
    <button mat-button color="primary">
      <mat-spinner [diameter]="15" />
    </button>
    } @else {
    <button (click)="editHandle($event, tr)" mat-button color="primary">
      Edit
      <mat-icon>edit</mat-icon>
    </button>
    } } @if(openToDelete) { @if(tr.deleting) {
    <button class="spinner-deleting" mat-button color="primary">
      <mat-spinner [diameter]="15" />
    </button>
    } @else {
    <button mat-button (click)="deleteHandle($event)" color="primary">
      Delete
      <mat-icon>delete</mat-icon>
    </button>
    } } @if(edited) {
    <button (click)="viewInEditsHandle($event, tr)" mat-button color="primary">
      Edited Details
      <mat-icon>visibility</mat-icon>
    </button>
    }
  </mat-card-actions>
</mat-card>
